html {
width: 100%;
height: 100%;
}

body {
min-height: 100%;
min-width: 100%;
padding: 0; margin: 0;
user-select: none;
font-family: 'Abel', sans-serif;
overflow: hidden;
}

main {
width: 100%;
height: 100vh;
display: flex;
flex-direction: row-reverse;
}

.window {
width: 40%;
height: 100vh;
overflow-y: scroll;

display: flex;
justify-content: center;
}
#menubar {
width: 10%;
height: 100vh;
}

.control {
height: 10%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;
transform: scale(1);
transition: all 0.5s linear;
}

.control:hover {
transform: scale(1.3);
cursor: pointer;
}
.wrapper {
width: 80%;
height: 60%;
overflow: visible;
}

.entry {
width: 30%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
border-radius: 7px;
}

.selected {
background-color: black;
color: white;
font-size:24px
}

#left-window {
  margin-left: 0;
}
